# Node
node_modules/
npm-debug.log*
dist/
.vite/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Env files
.env
.env.*
